/* Main content container */
.main-content {
  flex: 1;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-content:has(.film-details) {
  padding: 0;
  display: block; 
  flex: none; 
  
}